{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": 0,
    "max-len": ["error", 130],
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  }
}
