{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": 0,
    "max-len": ["error", 130],
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": [0],
    "jsx-a11y/media-has-caption": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0
  },
  "globals": {
    "window": true,
    "document": true
  }
}
